<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <title>developing</title>
    </head>
    <body>
        <div style="margin-top: 7em; margin-left: 2em;" >
            <h1 class="title">该功能模块正在开发中，尽请期待.......</h1>
        <span class="subtitle">This functional module is currently under <strong>development</strong>,please look forwardtoit............</span>
        </div>
        <div class="level-item has-text-centered" style="margin-top: 15em;">
            <a class="button" href="{% url 'users_ash:user_profile' %}">返回用户中心</a>
        </div>
        
    </body>
</html>